body {
    color: white;
    background-color: black;
    font-family: monospace;
    text-align: center;
}

img {
    margin-top: 2em;
    width: 13em;
}

h1 {
    margin-top: -1em;
    margin-bottom: 3em;
    font-size: 2em;
}

a {
    color: #00ffea;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 0.5em;
    background-color: #000000;
    text-align: center;
    font-size: .85em;  
}

.btn {
    color: white;
    background: transparent;
    border: .15em solid white;
    font-family: monospace;
    font-weight: bold;
    line-height: 1.1em;
    padding: .75em .75em;
    margin-top: 3em;
    cursor: pointer;
    width: 13em;
}

.btn:hover {
    color: black;
    background-color: #00ffea;
    border-color: #00ffea;
    transition: all .3s ease-in-out;
}